/* ==========================================================================
Responsive Styles
========================================================================== */

@media (max-width: 769px) {

    .landing-caption {
        text-align: center;
    }
    .navbar-menu {
        .is-static {
            position: absolute;
            width: 100%;
        }
        .is-fixed {
            position: fixed;
            width: 100%;
        }
        .navbar-item {
            text-align: center !important;
            .signup-button {
                width: 100% !important;
            }
        }
        .navbar-link {
            padding: 10px 20px !important;
        }
    }
    .title.section-title {
        font-size: 2rem !important;
    }
    .level-left.level-social {
        display: flex;
        justify-content: flex-start;
    }
    .pushed-image {
        margin-top: 0 !important;
    }
    .testimonial {
        margin: 0 auto;
    }

    .media {
        display: flex;
        flex-direction: column-reverse; 

        .media-left {
            margin-top: 1rem;
            margin-right: 0;
        }

        .media-content {
            margin-top: 2rem;
        }
    }

    .offer-list {
        margin-top: 0 !important;
    }
}


@media screen and (min-width: 769px) and (max-width: 925px), print {
    .wrapped-gallery:not(.is-desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -2.25rem;
    }
}


@media only screen and (min-device-width: 769px) 
                   and (max-device-width: 1024px) 
                   and (orientation: portrait) 
{
    .landing-caption {
        text-align: center;
    }
    .navbar-menu {
        .is-static {
            position: absolute;
            width: 100%;
        }
        .is-fixed {
            position: fixed;
            width: 100%;
        }
        .navbar-item {
            text-align: center !important;
            .signup-button {
                width: 100% !important;
            }
        }
        .navbar-link {
            padding: 10px 20px !important;
        }
    }
    .pushed-image {
        margin-top: 0 !important;
    }
    .testimonial {
        margin: 0 auto;
    }
    .is-centered-tablet-portrait {
        text-align: center !important;
        .divider {
            margin: 0 auto !important;
        }
    }
}


@media only screen and (min-device-width: 769px) 
                   and (max-device-width: 1024px) 
{
    .media {
        display: flex;
        flex-direction: column-reverse; 

        .media-left {
            margin-top: .6rem;
        }
    }
}


@media only screen and (min-device-width: 1025px) 
                   and (max-device-width: 1330px) 
{
    .media {
        display: flex;
        flex-direction: row; 

        .media-left {
            margin-top: 2.75rem;
            margin-left: -18rem;
        }
    }
}


@media only screen and (min-device-width: 1331px) 
{
    .media {
        display: flex;
        flex-direction: row;
        margin-top: 4rem;

        .media-left {
            margin-top: 3rem;
            margin-left: -18rem;
        }

        .media-content {
            padding-left: .25rem;
        }
    }
}